
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;  
	font: inherit;
	vertical-align: baseline;
	font-family: 'Inter', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*______________TEXT_________________*/

a{
	text-decoration: none;
	color: #FFFFFF;
}
a.inproject{
	text-decoration: none;
	color: #3DFF8A;
}

a.inabout{
	text-decoration: none;
	color: #A93DFF;
	font-weight: 400;
}

p.inabout{
	padding: 1.5rem ;
	font-size: 2.3rem;
	line-height: 99%;
	color: #FFFFFF;
 }

 h1 {
	font-weight: 400;
	font-size: 4.5rem;
	line-height: 99%;
	color: #FFFFFF;

 }


p{
	text-decoration: none;
	color: #d6d6d6;
	font-weight: 200;
	font-size: 1rem;
	
}
li{
	/* text-decoration: none; */
	color: #d6d6d6;
	font-weight: 200;
	font-size: 1rem;
}
/*______________TEXT-END_________________*/



/*______________STYLES_________________*/

body{
	background: black;
	display: flex;
 	flex-direction: column;
 	margin: 0 auto;
}
header{
	background:black;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	z-index: 2;
	font-family: 'Inter', sans-serif;
}
.projectlists{
	height: auto;
	width: 100%;
	padding: 1.5rem ;
	background-color: black;
	position: -webkit-sticky; /* Safari */
  	position: sticky;
  	top: 0;
  	z-index: 2;
 }

 .pcontent{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.protext{	
	max-width: 100%;
	line-height: 140%;
	margin-bottom: 3em;
	padding-left: 1.5rem;
}

 .pj1{
	width: 100%;
	margin-top: 1rem;
	margin-bottom: 1rem;
 }
/* Gifs in 2 colums */
.twowindows{
	display: flex;
	justify-content: space-evenly;
}

.pj2{
 	width: 45%;
 }
 .pj3{
	width: 60%;
	padding-left: 20%;
}
/* Gifs in 2 colums */

/* Vimeo Videos */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


.mailme{
text-decoration: none;
	color: #3DFF8A;
}

.aboutext{

	text-decoration: none;
	color: #FFFFFF;
	font-weight: 200;
	line-height: 135%;
	margin-bottom: 3em;
}

.videoframe{
	margin-top: 2rem;
	padding-left: 1.5rem;
	margin-left: auto;
	margin-right: auto;
}
  




/*______________DESKTOP-VIEW_________________*/

@media (min-width: 700px) and (orientation: landscape) {

h1 {
	font-weight: 400;
	font-size: 4.5rem;
	line-height: 99%;
	color: #FFFFFF;

 }

 body{
	background: black;
	display: flex;
 	flex-direction: row;
	 margin: 0 auto;
	font-family: 'Inter', sans-serif;
}
header{
	max-width: 45vw;
	height: 100vh;
}
 .pcontent{
 	display: flex;
 	flex-direction: row-reverse;
	 margin: 0 auto;
	 max-width: 55vw;
 }
 .protext{	
	max-width: 100%;
	line-height: 140%;
	margin-bottom: 3em;
}
 .projectlists{
	height: 100vh;
	width: 40vw;
	padding: 1.5rem ;
	background-color: black;
 }

.imgscontainer{
	padding: 1.5rem;
	width: 60vw;
	background-color: black;

}
  .pj1{
	 width: 100%;
	 margin-top: 1rem;
	 margin-bottom: 1rem;
 }

 .videoframe{
	margin-top: 2rem;
	width: 60vh;
	margin-left: auto;
	margin-right: auto;
}

}

